*{
    @include format(0,0,border-box);
}
main{
    background-color: $Color-main;
    div{
        div{
            .titulo{
                font-family: $fuente-titulo;
                justify-content: center;
            }
        }
    }
    section{
        div{
            iframe{
                width: 560px;
                height: 315px;
            }
        }
        div{
            .card{
                width: 18rem;
            }
        }
    }

@media screen and (max-width: 768px) {
    section{
        div{
            iframe{
                width: 380px;
                height: 235px;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    section{
        div{
            iframe{
                width: 285px;
                height: 185px;
            }
        }
    }
}
}