header {
    .banner {
        width: fit-content;
    }
    nav {
        .navegacion {
            color: black;
            font-family: $fuente-texto;
            background-color: $Color-header;
            font-size: 1.5rem;
            &:hover {
                color: $Color-main;
            }
        }
    }
}
/*La siguiente clase se incorporo de esta manera ya que no hubo forma de definir el padding de la navbar. Esto fue resuelto por un tutor de coderhouse que me indico que debia incorporar esta linea de codigo css para corregir el error que estaba teniendo. Este error era un espacio en blanco entre la navbar y el main de mi pagina.*/
.navbar {
    --bs-navbar-padding-y: 0;
}

@media screen and (max-width: 768px) {
    header{
        nav{
            .navegacion {
                font-size: 1.25rem;
            }
        }
    }
}