*{    
    @include format(0,0,border-box);
}
main{
    background-color: $Color-main;
    div{
        div{
            .titulo{
                font-family: $fuente-titulo;
                justify-content: center;
            }
        }
    }
    .carousel{
        width: 300px;
    }
    section{
        .parrafo{
            font-family: $fuente-texto;
            @include fonts(2000,85%,20px);
            &:hover{
                opacity: 100%;
                color: $Color-footer;
            }
        }
    }
}