*{
    @include format(0,0,border-box);
}
main{
    background-color: $Color-main;
    .formulario{
        text-align: center;
        flex-flow: column;
        padding-top: 20px;
        font-size: 15px;
        height: 70vh;
        .titulo{
            font-family: $fuente-titulo;
            justify-content: center;
        }
        form{
            .espacioform{
                text-align: center;
                padding: 5px;
                .tituloform{
                    font-family: $fuente-titulo;
                    justify-content: center;
                    @include fonts(700,100%,1.25rem);
                }
                .bordesboton{
                    @include bordes(30px,8px);
                    font-family: $fuente-texto;
                    @include fonts(700,100%,1.25rem);
                    &:hover{
                        opacity: 100%;
                    } 
                }
            }
            .passwordboton{
                @include bordes(30px,8px);
                font-family: $fuente-texto;
                @include fonts(700,100%,1.25rem);
                &:hover{
                    opacity: 100%;
                } 
            }
        }
    }
}