*{
    @include format(0,0,border-box);
}
.contenidomain{
    @include padding(80px,80px);
    background-color: $Color-main;
    div{
        div{
            .titulo{
                font-family: $fuente-titulo;
                justify-content: center;
            }
        }
        .nosotrosmain{
            @include padding(80px,80px);
            div{
                .parrafo{
                    font-family: $fuente-texto;
                    @include fonts(2000,85%,20px);
                    &:hover{
                        opacity: 100%;
                        color: $Color-footer;
                    }
                }
            }
            div{
                .imgnosotros{
                    @include bordes(30px,8px);
                    opacity: 55%;
                    &:hover{
                        opacity: 100%;
                    }
                }
            }
        }
    } 
}
