*{
    @include format(0,0,border-box);
}

.contenidomain{
    @include padding(80px,80px);
    background-color: $Color-main;
    div{
        div{
            .titulo{
                font-family: $fuente-titulo;
                justify-content: center;
            }
        }
        section{
            table{
                thead{
                    tr{
                        .titulo{
                            @extend .titulo;
                        }
                    }
                }
                tbody{
                    tr{
                        .contenidotabla{
                            font-family: $fuente-texto;
                        }
                    }
                }
            }
        }
    }
}