header .banner {
  width: fit-content;
}
header nav .navegacion {
  color: black;
  font-family: "Dancing Script", cursive;
  background-color: #FFD1DA;
  font-size: 1.5rem;
}
header nav .navegacion:hover {
  color: #FBA1B7;
}

.navbar {
  --bs-navbar-padding-y: 0;
}

footer {
  color: rgb(14, 13, 13);
  flex: 0 1 auto;
  background-color: #FFDBAA;
  margin-top: auto;
}
footer .copyright {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
}
footer .socialnetlogo {
  text-align: right;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: #FBA1B7;
}
main div div .titulo {
  font-family: "Great Vibes", cursive;
  justify-content: center;
}
main .carousel {
  width: 300px;
}
main section .parrafo {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  opacity: 85%;
}
main section .parrafo:hover {
  opacity: 100%;
  color: #FFDBAA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: #FBA1B7;
}
main div div .titulo {
  font-family: "Great Vibes", cursive;
  justify-content: center;
}
main section div iframe {
  width: 560px;
  height: 315px;
}
main section div .card {
  width: 18rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: #FBA1B7;
}
main .formulario {
  text-align: center;
  flex-flow: column;
  padding-top: 20px;
  font-size: 15px;
  height: 70vh;
}
main .formulario .titulo {
  font-family: "Great Vibes", cursive;
  justify-content: center;
}
main .formulario form .espacioform {
  text-align: center;
  padding: 5px;
}
main .formulario form .espacioform .tituloform {
  font-family: "Great Vibes", cursive;
  justify-content: center;
  font-weight: 700;
}
main .formulario form .espacioform .bordesboton {
  border-radius: 30px;
  padding: 8px;
}
main .formulario form .espacioform .bordesboton:hover {
  opacity: 100%;
}
main .formulario form .passwordboton {
  border-radius: 30px;
  padding: 8px;
}
main .formulario form .passwordboton:hover {
  opacity: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenidomain {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #FBA1B7;
}
.contenidomain div div .titulo {
  font-family: "Great Vibes", cursive;
  justify-content: center;
}
.contenidomain div .nosotrosmain {
  padding-top: 80px;
  padding-bottom: 80px;
}
.contenidomain div .nosotrosmain div .parrafo {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  opacity: 85%;
}
.contenidomain div .nosotrosmain div .parrafo:hover {
  opacity: 100%;
  color: #FFDBAA;
}
.contenidomain div .nosotrosmain div .imgnosotros {
  border-radius: 30px;
  padding: 8px;
  opacity: 55%;
}
.contenidomain div .nosotrosmain div .imgnosotros:hover {
  opacity: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenidomain {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #FBA1B7;
}
.contenidomain div div .titulo {
  font-family: "Great Vibes", cursive;
  justify-content: center;
}
.contenidomain div section table thead tr .titulo {
  font-family: "Great Vibes", cursive;
  justify-content: center;
}
.contenidomain div section table tbody tr .contenidotabla {
  font-family: "Dancing Script", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: #FBA1B7;
}
main section div .imagengaleria {
  border: 2px double #FFDBAA;
  opacity: 0.5;
  border-radius: 15px;
}
main section div .imagengaleria:hover {
  opacity: 1;
  border: solid white;
  border-radius: 15px;
}

/*# sourceMappingURL=estilohappyberry.css.map */
